body, html {
	padding: 0;
    margin: 0;
    font-family: 'Playfair Display', 'Open Sans Condensed', sans-serif, serif;
	background-color:#4F4F4F;
	height: 100%;
	width: 100%;
	}
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin: 5%;
  background-color: #ffffff;
  -moz-border-radius:  5px; /* Firefox */
  -webkit-border-radius:  5px; /* Safari 4 */
  border-radius:  5px; /* IE 9, Safari 5, Chrome */



}
.leftbox{
	display: flex;
	flex-direction: column;
    width: 100%;
  padding: 15% 0 10% 10%;
    margin-bottom: 70px;

}
.name{
	margin-top: 10%;
	font-size: 12px;	
}
.text{
	font-family: 'Open Sans Condenced Light';
	font-size: 15px;
	color: #b2b2b2;
}

.buttons{
margin-top: 20px;
}

button{
-moz-border-radius:  5px; /* Firefox */
-webkit-border-radius:  5px; /* Safari 4 */
border-radius:  5px; /* IE 9, Safari 5, Chrome */
line-height: 1.8;
appearance: none;
background-color:white;
box-shadow: inset 0 0 0 1px #D8D8D8;
border: none;
margin: 5px 10px 0px 2px;
width: 85%;
height: 20%;
}

a{
	text-decoration:none;
	color: black;
	line-height: 4;
	font-family: 'Playfair Display Regular';
}



.logo{
	width: 50px;
	height: 50px;
	float: left;
}

button:hover {
box-shadow: inset 0 0 0 1px #ffffff,0 5px 15px #bfbfbf;
cursor:pointer;
}



.hide{
	display:none;
}

.rightbox img{
	display:none;
}

footer{
	display: none;
	
}




@media all and (min-width: 800px) {
	
.container{
	display: flex;
  flex-flow: row wrap;  
   justify-content: space-around;
width: 90%;
}	
	
.e-mail{
	display: none;
}	
	
.hide{
	display:flex;
}


	
.leftbox{
	flex: 1 50%;
	
}	

.part{
	border-bottom: solid 1px #D8D8D8;
	margin-bottom: 2%;
}

button{
	width: 85%;
}
.buttons:last-child{
	margin-bottom: 5%;
}



footer{
	display: flex;
	justify-content: space-between;
	color: #808080;
	
}
.left{
	font-size: 12px;
	font-family: 'Open Sans Condenced Light';
	margin-top: 13px;
}

.right{
	font-family: 'Open Sans Condenced Light';
	font-size: 10px;
	margin-right: 10%;
}
.arrow {
  width: 10px;
  height: 5px;
  background: gold;  
  position: relative;
  margin: -22px -15px auto auto;
  }
  .arrow:before,
  .arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent; 
    border-right: 0;
    }
  
  
  .arrow:after {
    top: -2px;
    right: -9px;
    border-left-color: gold;  
    border-width: 5px 0 5px 10px;
    }



	.rightbox img{
	height: 100%;
	display: inline;
}
.rightbox{
	flex: 1 20%;
	flex-wrap: wrap;
	align-flex: space-around;
}


}

@media all and (min-width: 1280px){
	
	.leftbox {
	flex: 1 30%;
	
}	
.rightbox{
	flex: 1 60%;
	
}	

.rightbox img{
	width: 150%;
	height: 100%;
display: inline;
}


button{
	width: 55%;
}

}










