body, html {
	padding: 0;
    margin: 0;
    font-family: 'Playfair Display', 'Open Sans Condensed', sans-serif, serif;
	background-color:#4F4F4F;
	}
.container{
  width: 900px;
  height: 550px;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  -moz-border-radius:  5px; /* Firefox */
  -webkit-border-radius:  5px; /* Safari 4 */
  border-radius:  5px; /* IE 9, Safari 5, Chrome */


}
.leftbox{
  display: inline-block;
  width: 550px;
  padding: 55px 0 55px 55px;

}
header{
	margin-top: 0px;
	font-size: 12px;	
}
.text{
	font-family: 'Open Sans Condenced Light';
	font-size: 15px;
	color: #b2b2b2;
}
.rightbox{
    display: inline-block;
	padding:0px;
	float: right;
	
	
}

img{
	-moz-border-radius:  0 5px 5px 0; /* Firefox */
    -webkit-border-radius:  0 5px 5px 0; /* Safari 4 */
     border-radius:  0 5px 5px 0; /* IE 9, Safari 5, Chrome */
}




.buttons{
margin-top: 30px;
}

button{
-moz-border-radius:  5px; /* Firefox */
-webkit-border-radius:  5px; /* Safari 4 */
border-radius:  5px; /* IE 9, Safari 5, Chrome */
line-height: 1.8;
appearance: none;
background-color:white;
box-shadow: inset 0 0 0 1px #D8D8D8;
border: none;
margin: 5px 5px 3px 2px;

width: 450px;
height: 70px;


}

a{
	text-decoration:none;
	color: black;
	line-height: 4;
	font-family: 'Playfair Display Regular';
}



.logo{
	width: 50px;
	height: 50px;
	float: left;
}

button:hover {
box-shadow: inset 0 0 0 1px #ffffff,0 5px 15px #bfbfbf;
cursor:pointer;
}


hr {
	margin-top: 40px;
	margin-left: -53px;
	margin-right: -50px;
	border:none; 
	background:#D8D8D8; 
	height:1px;
	width: 648px;
	}

footer{
	padding: 12px 0 0px 55px;
	color: #808080;
}
.left{
	float:left;
	margin-left: -50px;
	font-size: 12px;
	font-family: 'Open Sans Condenced Light';
}

.right{
	float: right;
	font-size: 9px;
	margin-right: 130px;
	margin-top: 1px;
	font-family: 'Open Sans Condenced Light';
}
.arrow {
  width: 10px;
  height: 5px;
  background: gold;  
  position: relative;
  margin: 4px 112px auto auto;
  }
  .arrow:before,
  .arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent; 
    border-right: 0;
    }
  
  
  .arrow:after {
    top: -2px;
    right: -9px;
    border-left-color: gold;  
    border-width: 5px 0 5px 10px;
    }


