body, html {
	padding: 0;
    margin: 0;
    font-family: 'Roboto Bold', 'Open Sans Condensed', sans-serif, serif;
	background-color:#ffffff;
	border: 10px solid white;	
	}
	
.box{
	background-color:#F7EDD5;
	margin:10px;
	padding:100px 200px 100px 200px;
	
}	
	
.wrap{
	display: flex;
    flex-flow: row wrap;  
    width: 100%;
    justify-content: space-around;
	background-color:#ffffff;
	height:100%;
	padding: 2%;
}	

.left, .right{
	flex: 1 100%;
}



@media screen and (max-width : 400px) {
    
  .left, .right{
	flex: 1 100%;
}

body{
	width: 70%;
}

.box{
	background-color:#F7EDD5;
	width: 60%;
	margin: 1%;
	padding:1%;
}

.wrap{
	margin: 0 0 0 0%;
	padding:1%;
	width: 100%;
	flex-flow: row column;  
}



img{
	padding:0;
	margin: 1% 2% 2% 1%;
	width: 50%;
	height: 50%;
}

h1{
	font-size: 20px; 
}

.text{
	width:90%;
}



}




@media screen and (max-width : 980px) {
    
  .left, .right{
	flex: 1 100%;
}
.box{
	background-color:#F7EDD5;
	margin:10px;
	padding:10% 30% 10% 30%;
	
}
}

@media screen and (max-width : 1920px) {
    
  .left, .right{
	flex: 1 45%;
}
}








img{
	padding:0;
	margin: 10% 40% 2% 40%;
}

.text, h1{
	margin: 2% 2% 2% 12%;
	text-align: left;
	line-height: 1.5;
}


.slider{
	margin: 7% 20% 2% 45%;
}

.circle {
	float: left;
	margin: 2%;
	width: 10px;
	height: 10px;
	background: #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.circle:first-child {
	float: left;
	margin: 2%;
	width: 10px;
	height: 10px;
	background: #EF7550;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}






.right{
	float: right;
}	

.right h1{
	margin-bottom: 60px;
}

.FormWrapper{
	padding: 50px;
}




.InputWrapper{
	
}

input[type=text], input[type=password]{
	
  width: 20%;
  content: '';
  display: block;
  position: absolute;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #ffffff;
}

input[type=submit]{
-moz-border-radius:  37px; /* Firefox */
-webkit-border-radius:  37px; /* Safari 4 */
border-radius:  37px; /* IE 9, Safari 5, Chrome */
line-height: 2;
background-color: #EF7550;
border: none;
width: 100px;
height:40px;
margin: 1px 5px 3px 2px;
color: #ffffff;
	
}


input[type=submit]:hover {
box-shadow: 0px 10px 30px 2px #F4D5CD; 
cursor:pointer;
}






