body, html {
	padding: 0;
    margin: 0;
    font-family: 'Roboto Bold', 'Open Sans Condensed', sans-serif, serif;
	border: 10px solid white;	
	}
	
.box{
	background: url("19.jpg") 100% 100% no-repeat;
	padding:5%;
	width: 90%;
	height: 100%;
	
	
}	
	
.wrap{
	display: flex;
    flex-flow: column;  
    width: 90%;
    justify-content: flex-start;
	background-color:#ffffff;
	height:100%;
	margin: auto;
}	

.left, .right{
	flex: 1 100%;
}


h1,
h2 {
	text-align: center;
    margin: 0;
    color: #1C1660;
    -moz-text-shadow: 0 3px 3px #FFA526;
    -webkit-text-shadow: 0 3px 3px #FFA526;
    text-shadow: 0 3px 3px #FFA526;
}

h3 {
	text-align: center;
}


.right{
	display: flex;
	flex-flow: column;  
}

.wrapper, .buttons{
	flex: 1 100%;
	
}



img{
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
}


.wrapper{
	margin: auto;
}


#CDT {
    font-size: 16px;
    color: #eee;
    margin: 50px 0 100px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 5px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #251E62;
    background-image: linear-gradient(bottom, #251E62 2%, #1C1660 50%, #251E62 100%);
    background-image: -o-linear-gradient(bottom, #251E62 2%, #1C1660 50%, #251E62 100%);
    background-image: -moz-linear-gradient(bottom, #251E62 2%, #1C1660 50%, #251E62 100%);
    background-image: -webkit-linear-gradient(bottom, #251E62 2%, #1C1660 50%, #251E62 100%);
    background-image: -ms-linear-gradient(bottom, #251E62 2%, #1C1660 50%, #251E62 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #555;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}
       
#CDT .line {
    position: absolute;
    width: 50%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.caption {
   font-size: 11px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 90%;
   color: #777;
}
.buttons{
	margin:0;
	padding: 0;
	flex: 1 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	
}


.button{
width:100%;
line-height: 2;
background-color: #251E62;
border: none;
height: 50px;
color: #ffffff;
}

	
.button:hover {
background-color: #FFA526;
cursor:pointer;
}



@media all and (min-width : 800px){
		
.wrap{
    flex-flow: row; 
	
}

.text{
	display: flex;
	justify-content: space-between;
}

.first h1{
	font-size: 60px;
	font-weight: bold;
	margin-top: 13%;
	
}

.second h2{
	font-size: 30px;
	margin-top: 30%;
}

.right{
	justify-content: flex-end;
}

.wrapper{
	
	    margin-top: 20%;
		-moz-margin:auto;
}

	#CDT {
    font-size: 40px;
	}

.button{
	margin-top: 5%;
	font-size: 30px;
	height: 60px;
	
}	
	
}



