body, html {
	padding: 0;
        margin: 0;
        font-family: 'Roboto Bold', 'Open Sans Condensed', sans-serif, serif;
	background-color:#F2F2F2;
	height: 50vh;
	width: 80vw;
	}	
	
.col{
min-height: 60vh;
}
.col{
background-color: #fff;
}

.grid-equalHeight-top{
 background-color:#F2F2F2;
}

	header{
		background-color: #FFF;
		
	}
	
	h1{
	margin-top: 15vh;
	font-size: 35px;
	color: #0a5ab9;
	}	
	
	
	
	
	.buttons{
		
	margin-top: 40vh;
	margin-left: 40px; 
	margin-bottom: 0px;
	background-color: #F6A91F;
	color: white;
	border: none;
	width: 185px;
	height: 50px;
	font-size: 18px;		
	}	
	
	.saveButton, .cancelButton{
		
		margin-top: 20px;
		margin-bottom: 10px;
		width: 185px;
	    height: 50px;
	}
	
	.cancelButton{	
		background-color:#d8d8d8;		
	}
	
	
	
   #table-product{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	color: #5A5A5A;
	border-bottom: none;
}

img{
	position:absolute;
	margin-top: 0px;
	width: 300px;
	height:220px;
}

.table-body{
	position: relative;
	width: 70%;
	text-align: center;
}

td{
	border-bottom: 1px solid black;
	padding: 20px;
	font-size: 18px;
}

.idBook{
	display: none;	
}

.titleBook{
	font-size: 25px;
	font-weight: bold;
}

.PopUpShow, .deleteBook{
	margin-top: 10px;	
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #B1B1B1;
	font-size: 16px;
	width: 140px;
	height: 30px;
	}
	
.b-popup{
	padding-top:0px;
    padding-left: 20px;
	padding-bottom:10px;
    margin: 0;
    font-family: 'Roboto Bold', 'Open Sans Condensed', sans-serif, serif;
	background-color:#ffffff;
	width: 50%;
	min-height: 800px;
	top: 150px;
	font-size: 16px;
	overflow:hidden;
    position:fixed;	
}

.b-popup h2{	
	padding-left: 50px;
	font-size: 25px;	
}

.b-popup  .form-group {
	clear:both; 
	text-align:left;
	}
	
.b-popup .form-group  label{
	margin-bottom: 10px;
	font-size: 18px;	
}

.b-popup .form-group  input{
	font-size: 20px;
	border: 1px solid #B1B1B1;
	width: 80%;
	height: 30px;
}

.b-popup  .editBookId{	
	display: none;
}




