body, html {
	padding: 0;
    margin: 0;
    font-family: 'Playfair Display', 'Open Sans Condensed', sans-serif, serif;
	font-size: 13px;
	background: url("8.JPG") 100% 100% no-repeat;
	background-attachment: fixed;
    background-size: cover;
	padding: 1%;
	height: 100%;
	}

.holy-grail{
	height: 100%;
	display: flex;
	flex-flow: column;
	align-content: space-between;	
}

	
	
.holy-grail_header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;	
}

.holy-grail__body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}


.holy-grail__content{
	flex: 1 100%;
	align-self: center;
	color: #ffffff;
	margin: auto;
	
}

h1{
	margin: 5% auto;
	text-align: center;
}


.buttons{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
}


.button{
-moz-border-radius:  37px; /* Firefox */
-webkit-border-radius:  37px; /* Safari 4 */
border-radius:  37px; /* IE 9, Safari 5, Chrome */
line-height: 2;
background-color: black;
border: none;
margin: 1px 5px 3px 2px;
width: 130px;
height: 50px;
color: #ffffff;
}

a{
	text-decoration:none;
	color: white;
	line-height: 2;
	font-family: 'Open Sans Condenced Light';
}
	
.button:hover {
background-color: #90D249;
cursor:pointer;
}	

#logo{
	font-size: 0;
	margin: -10px 10px 10px 0;
	display: flex;
	flex: none;
	align-items: center;
	
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    right: 0px;
    background-color: white;
    border: 1px solid #90D249;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #90D249;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
	
	
#nav{
	display: none;
}


.register{
	display: none;
	
}	
	
	
.container{
	display: none;
}	

@media all and (min-width: 600px) {

body, html {
	
	background: url("12.jpg") 100% 100% no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

#menu img{
	display: none;
} 


.nav-mobile{
	display: none;
}



#nav {
    height: 100px;
	margin: auto;
    display: flex;
    align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

#nav a {
    display: inline-block;
    font-family: 'Roboto Bold', sans-serif;
	font-weight: bold;
	font-size: 15px;
    color: #B6BDC6;
    text-decoration: none;
    padding: 0 20px;
    height: 120px;
    line-height: 120px;
	
}

#nav a:hover {
	color: #ffffff;
}


h1{
	display: none;
}

.container{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5%;
}



h2{
	font-size: 55px;
	font-family:'Roboto Bold';
	line-height: 1;
	color: white;
}

.text{
	font-family: 'Open Sans Condenced Light';
	font-size: 18px;
	color: white;
	line-height: 2;
}


.buttons{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-bottom: 10%;
	
}


.button2{
	margin-right: 65%;
}



.register{
	display: flex;
	
}


}



@media all and (min-width: 900px){
	
	

.container{
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5%;
}

.button2{
	margin-right: 45%;
}
	
}









